.contact-table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 32px;
}
.contact-row-space {
    /* Voor verticale ruimte */
}
.contact-space-cell {
   
}
.contact-side-cell {
    width: 50px;
}
.contact-info-cell {
    font-size: 1.3em;
    border: 1px solid black;
    background: floralwhite;
    text-align: center;
    color: #222;
}
.contact-map-cell {
    padding: 0 24px 24px 24px;
}
.contact-map-iframe {
    border: 0;
    width: 100%;
    height: 450px;

}